<li class="dropdown">
    <a href=@Url.Action("UserProfile", "Account") data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <img alt="image" src="https://demo.quickpass.xyz/assets/img/default/user.png" class="rounded-circle mr-1">
        <div class="d-sm-none d-lg-inline-block">Hi,@ViewBag.UserName</div>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href=# class="dropdown-item has-icon">
            <i class="far fa-user"></i> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a href="@Url.Action("LogOut", "Admin")"
           onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
           class="dropdown-item has-icon text-danger">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>

        <form id="logout-form" action="@Url.Action("LogOut", "Admin")" method="post">
            @* Add any anti-forgery token if necessary *@
            @Html.AntiForgeryToken()
        </form>


    </div>
</li>
