
.front {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .front .div {
        background-color: #ffffff;
        width: 204px;
        height: 322px;
        position: relative;
    }

    .front .shape {
        height: 54px;
        top: 268px;
        position: absolute;
        width: 204px;
        left: 0;
    }

    .front .overlap-group {
        position: absolute;
        width: 204px;
        height: 173px;
        top: 0;
        left: 0;
    }

    .front .img {
        height: 147px;
        top: 0;
        position: absolute;
        width: 204px;
        left: 0;
    }

    .front .img-2 {
        position: absolute;
        width: 69px;
        height: 69px;
        top: 104px;
        left: 70px;
    }

    .front .comjpany-name-logo {
        position: absolute;
        width: 198px;
        height: 20px;
        top: 67px;
        left: 5px;
    }

    .front .group {
        position: relative;
        width: 200px;
        height: 20px;
    }

    .front .name {
        width: 198px;
        color: #2d2121;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        font-family: "Kameron", Helvetica;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
    }

    .front .image {
        position: absolute;
        width: 54px;
        height: 61px;
        top: 5px;
        left: 75px;
        object-fit: cover;
    }

    .front .text-wrapper {
        position: absolute;
        width: 101px;
        top: 82px;
        left: 59px;
        font-family: "Kameron", Helvetica;
        font-weight: 700;
        color: #151e6b;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .front .satf-descro-topm {
        position: absolute;
        width: 126px;
        top: 211px;
        left: 12px;
        font-family: "Roboto", Helvetica;
        font-weight: 400;
        color: transparent;
        font-size: 8px;
        letter-spacing: 0;
        line-height: normal;
    }

    .front .span {
        font-weight: 700;
        color: #2e9da6;
    }

    .front .text-wrapper-2 {
        color: #2e9da6;
    }

    .front .text-wrapper-3 {
        color: #000000;
    }

    .front .text-wrapper-4 {
        font-weight: 500;
        color: #000000;
    }

    .front .text-wrapper-5 {
        font-weight: 600;
        color: #2e9da6;
    }

    .front .staff-name {
        position: absolute;
        width: 114px;
        height: 18px;
        top: 177px;
        left: 56px;
    }

    .front .name-2 {
        width: 112px;
        color: #030708;
        font-size: 16px;
        white-space: nowrap;
        position: absolute;
        top: 0;
        left: 0;
        font-family: "Kameron", Helvetica;
        font-weight: 700;
        letter-spacing: 0;
        line-height: normal;
    }

    .front .image-2 {
        position: absolute;
        width: 64px;
        height: 59px;
        top: 203px;
        left: 140px;
    }
