<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewBag.Title | VMS</title>
    <link rel="shortcut icon" href="~/assets/img/main_logo.png">
    <!-- General CSS Files -->
    <link href="~/assets/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link href="~/assets/css/admin_style.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div>
        @RenderBody()
    </div>


    <script src="https://demo.quickpass.xyz/frontend/frontend/js/jquery.js"></script>
    <script src="https://demo.quickpass.xyz/frontend/js/demo-login.js"></script>
</body>

</html>